.idea/.gitignore
.idea/Sandbox.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
__pycache__/
venv_win/

/projects/stahh_besger/output/*
/.idea/jsLibraryMappings.xml
/.idea/vcs.xml
/instance/*
/ToDo

.htaccess
flask.wsgi
/projects/adx_abctrainer/instance/
/logs/
